<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
    	<category name="Munchie Perspective" id="munchie"></category>
	    <view
	        name="Smart Machine"
	        icon="icons/icon.jpg"
	        category="munchie"
	        class="munchie.views.MunchieView"
	        id="munchie.views.MunchieView"
	        >
	    </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
           ratio="0.5"
           relative="org.eclipse.ui.views.ProblemView"
           relationship="right"
       	   id="munchie.views.MunchieView">
         </view>
      </perspectiveExtension>
   </extension>
  
    <extension point="org.eclipse.help.contexts">
    	<contexts file="contexts.xml"></contexts>
	</extension>
   
	<extension point="org.eclipse.ui.startup">
		<startup class="munchie.views.MunchiesStartup"/>
	</extension>
</plugin>
